body {
    background-color: #f6da98;
    background-image: url(oldpaper.png);
    font-family: Times, "Times New Roman", Georgia, serif;
    background-position: center;
    margin: 0 20%;
}
h1 {
    color : #444444;
    letter-spacing: 3px;
    font-size: 4em;
}

h2 {
    color : #444444;
    letter-spacing: 3px;
    font-size: 3em;
}

h3, h4, h5 {
    color : #444444;
    letter-spacing: 3px;
    font-size: 2em;
}

div pre {
    font-size: 2rem;
    font-family: Times, "Times New Roman", Georgia, serif;
    text-align: center;
    color: #313131;
}

p {
    font-size: 1.2em;
    font-weight: 200;
    line-height: 25px;
}

img {
    border-radius: 4.5 px; 
}

a {
    color: #322e2e;
}